.color-bg {
    background: $color-bg;
}

#portfolio {
    .title-row {
        padding-top: 50px;
    }

    .nav {
        text-align: center;
        line-height: 40px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ccc;

        &__item {
            display: inline-block;
            font-size: 16px;
            color: $blue;
            border-radius: 4px;
            position: relative;
            cursor: pointer;
            width: 10%;
            margin: 0 4px;

            &:hover {
                color: $red;
                font-size: 18px;
                transition: all .3s ease-in 0s;
            }
        }

        .goback {
            a {
                color: $blue;
                padding: 0;

                &:hover {
                    background-color: transparent;
                    color: $red;
                }

                &:focus {
                    background-color: transparent;
                    color: $red;
                }
            }

        }
    }

    .filtr-active {
        background: $pink--opacity7;
        color: $red;
        width: 10%;
        font-size: 18px;

        &:hover {
            cursor: default;
        }
    }

    .nav-mobile {
        height: 50px;
        line-height: 50px;
        padding: 0 16px;
        border-bottom: 1px solid #ccc;

        &__home {
            float: left;

            a {
                font-size: 26px;
                padding: 4px;
                color: $blue;

                &:hover {
                    color: $red;
                }
            }
        }

        .dropdown {
            float: right;

            &__btn {
                color: $blue;
                font-size: 26px;
                background-color: transparent;
                border: none;

                &:active {
                    box-shadow: none;
                }
            }
        }

        .dropdown-menu {
            padding: 4px;

            &__item {
                padding: 8px;
                margin: 4px 0;
                font-size: 16px;
                color: $blue--opacity7;
                text-align: center;
                line-height: 22px;

                &:hover {
                    background: $pink--opacity7;
                    color: $red;
                }
            }

        }
    }


    .filtr-container {
        margin-top: 16px;
        width: 100%;
    }

    .filtr-item {
        padding: 8px;

        img {
            padding: 4px;
            border: 1px solid #e5e8f1;
            border-radius: 2px;
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            max-width: 100%;
            height: auto;
            background: #fff;
            -webkit-filter: grayscale(20%);
            filter: grayscale(20%);

            &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &::after {
                content: "CLICK";
                display: block;
                width: 120px;
                height: 120px;
                position: absolute;
                top: 32%;
                left: 32%;
                border-radius: 50%;
                background: $brown--opacity7;
                color: #fff;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                padding-top: 50px;
            }
        }

    }
}